In [44]:
# Import Required Lib's

import pandas as pd

import numpy as np  

import datetime as dt

from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

In [58]:
# Function to get stock data 

def get_data(ticker,start,end):
    df = pdr.get_data_yahoo(ticker,start,end)
    df = df[['Close']]
    return df

In [61]:
# Code to get Data 
end= dt.datetime.now()                       # End date currently set to today's date

start = end - dt.timedelta(days=500)         # number of data poinst 

# start = dt.datetime(2010,1,1)              # if you want to use any specific date 

ticker = 'TATAMOTORS.NS'                     # Stock ticker can get these from https://finance.yahoo.com/

tm_df = get_data(ticker,start,end)

tm_df

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2021-08-23  276.950012
2021-08-24  279.799988
2021-08-25  284.399994
2021-08-26  284.299988
2021-08-27  285.750000
...                ...
2022-12-29  385.899994
2022-12-30  387.950012
2023-01-02  394.799988
2023-01-03  393.899994
2023-01-04  385.600006

[342 rows x 1 columns]